---
layout: main
title: Over Ons
---
<div class="container" id="about">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span4">
                    <h1 class="about_h1">OVER ...</h1>
                    <p class="about_p">
                        Wij zijn een team van gepassioneerde ontwikkelaars. Onze studio is gelegen in Hilversum. <a href="http://goo.gl/maps/0hyAB">Utrechtseweg 49, Hilversum</a>.
                    </p>
                    <p class="about_p">
                        Wij zijn onderdeel van het adviesbureau Xebia, zijn onze teams bestaan uit ervaren ontwikkelaars. Onze blog: <a href="http://blog.xebia.com/">Xebia</a>.
                    </p>
                </div>
                <div class="span8 center">
                    <!-- <a href="http://goo.gl/maps/0hyAB">
                      <img class="border" src="images/apropos/carte-googlemaps.png" alt="Utrechtseweg 49, Hilversum">
                    </a> -->
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=utrechtseweg+49,+hilversum&amp;aq=&amp;sll=52.469397,5.509644&amp;sspn=4.839456,8.129883&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Utrechtseweg+49,+Hilversum,+Noord-Holland&amp;ll=52.211378,5.182272&amp;spn=0.009506,0.015879&amp;t=m&amp;z=14&amp;iwloc=r3&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about-contact" class="grey_wrapper about">
    <div class="container">
        <div class="row-fluid about_row">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span6" style="text-align: center;">
                        <img id="about_pict" src="images/apropos/happy.png" alt="happy">
                    </div>
                    <div class="span6">
                        <h2 class="about_h2">CONTACT</h2>
                        <p>
                            U kunt ons team direct na e-mail adressen:
                        </p>
                        <ul class="about_ul">
                            <li><a href="mailto:ppetit@xebia.com">Peter</a></li>
                            <li><a href="mailto:rdielemans@xebia.com">Rob</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
