---
layout: main
title: Team
---
<script type="text/javascript" src="javascripts/handlebars-1.0.0.beta.4.js"></script>
<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/team.css"/>

<div id="bio"></div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div id="craftmen"></div>
        </div>
    </div>
</div>

<!-- 
{%raw%}
-->

<script id="bio-template" type="text/x-handlebars-template">
    <div class="grey_wrapper bio">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="a-craftman" class="row-fluid">
                        <div class="span{{spanleft}}" style="height:100%;">
                            <h2>{{name}}</h2>
                            <h3>"{{title}}"</h3>
                            {{abstract}}
                        </div>
                        <div id="picto">
                                {{#if github-url}}
                                <a target="_blank" href="{{github-url}}"><img class="picto" src="images/equipe/picto/github.png" alt="Github de {{name}}"></a>
                                {{/if}}
                                {{#if twitter-url}}
                                <a target="_blank" href="{{twitter-url}}"><img class="picto" src="images/equipe/picto/twitter.png" alt="Twitter de {{name}}"> </a>
                                {{/if}}
                                {{#if linkedin-url}}
                                <a target="_blank" href="{{linkedin-url}}"><img class="picto" src="images/equipe/picto/linkedin.png" alt="Linkedin de {{name}}">  </a>
                                {{/if}}
                                <a target="_blank" href="mailto:{{email}}"><img class="picto" src="images/equipe/picto/mail.png" alt="email de {{name}}"></a>
                         </div>
                        <div class="span{{spanright}}">
                            <img id="{{nick}}" class="team-big-picture" src="images/equipe/{{big-picture}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id = "craftmen-template" type = "text/x-handlebars-template" >
<ul class = "thumbnails" >
{{#each craftmen}}
<li class = "span2">
        <div class = "thumbnail">
        <a class = "craftman" href = "#bio"> <img id="{{id}}" class="border" src="images/equipe/{{small-picture}}" alt ="{{name}}"></a>
        <h5>{{firstname}}</h5>
        </div>
</li>
{{/each}}
</ul>
</script>
<!-- 
{%endraw%}
-->

<script type="text/javascript">
    var json;
    $(document).ready(function() {
        var craftmen_template = Handlebars.compile($('#craftmen-template').html());
        var bio_template = Handlebars.compile($('#bio-template').html());

        Handlebars.registerHelper('abstract', function() {
            return new Handlebars.SafeString(this.abstract);
        });

        $.getJSON('team.json', function(json) {
            $('#bio').html(bio_template(json.craftmen[0]));
            $('#craftmen').html(craftmen_template(json));
            $('a.craftman').click(function(event) {
                $('#bio').html(bio_template(json.craftmen[event.target.id]));
                $('html, body').animate({
                        scrollTop:$('#navbar').offset().top
                     }, 'slow');
                return false;
            });
        });
    });
</script>


