---
layout: main
title: Welkom
---

<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<div class="container">
    <div class="row-fluid">
        <div class="span12 center index-title">
            <h1>AGILE DEVELOPMENT DONE RIGHT !</h1>

            <p class="center">
                Ons vak, het ontwikkelen van applicaties met hoge kwaliteit: uw applicaties<br/>
            </p>

        </div>
    </div>

    <div id="indexCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="active item">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span7">
                                <img src="images/index/TTM.jpg" alt="Time To Market" class="slide-image">
                            </div>
                            <div class="span5">
                                <h2 class="index">HEEFT SNEL RESULTAAT NODIG?</h2>
                                <p>Wij helpen uw bedrijf voorop te lopen.</p>
                                <p>
                                    Door onze flexibiliteit, ervaring en kennis van PaaS oplossingen (Platform as a Service) kunnen wij uw project opstarten in minder dan een dag.
                                </p>
                                <p>
                                    Wij geloven in continuous delivery: al na een paar weken kunnen we met een minimaal produkt live gaan en ook daarna maken we doorlopend nieuwe functionaliteit beschikbaar voor uw gebruikers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span7">
                                <img src="images/index/innovation.jpg" alt="innovation" class="slide-image">
                            </div>
                            <div class="span5">
                                <h2 class="index">IS INNOVATIE HET HART VAN UW PROJECT?</h2>
                                <p>
                                    Mobiele applicaties, facebook, e-commerce, web services, toepassingen met zeer hoge schaalbaarheid: uw projecten zijn innovatief.
                                </p>
                                <p>
                                    Wij gebruiken onze ervaring met baanbrekende technologie voor nieuwe toepassingen. We hebben het gewoon gedaan, projecten opleveren met HTML5, Javascript, maar ook Cloud en BigData.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span7">
                                <img src="images/index/qualite.jpg" alt="quality" class="slide-image">
                            </div>
                            <div class="span5">
                                <h2 class="index">VOOR U IS KWALITEIT NIET ONDERHANDELBAAR?</h2>
                                <p>
                                    Eindigen uw projecten ook altijd in puinruimen en blijkt kwaliteit toch weer veel te duur en te hoog gegrepen? Of blazen uw leveranciers hun kostenschatting, terwijl het testen en afronden toch weer langer duurt?
                                </p>
                                <p>
                                    Wij ontwerpen en ontwikkelen software zonder commpromis op de kwaliteit. Wij doen dat omdat we trots willen zijn op applicaties die wij bouwen, dat zit in ons DNA.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span7">
                                <img src="images/index/transparence.jpg" alt="transparence" class="slide-image">
                            </div>
                            <div class="span5">
                                <h2 class="index">OP ZOEK NAAR EEN PARTNER DIE PROBLEMEN NIET PROBEERT TE VERBERGEN?</h2>
                                <p>Relatie met uw service via uw juridische en geschillen.</p>
                                <p>
                                    De beste manier om samen te werken is de dingen te benoemen zoals ze zijn.  Wij zijn transparant en recht door zee, en vertellen het u als beslissingen niet in uw voordeel uit pakken.
                                </p>
                                <p> Er zijn geen verborgen kosten, maar transparantie. Daardoor zijn we partner in plaats van leverancier.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <a class="carousel-control left" href="#indexCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#indexCarousel" data-slide="next">&rsaquo;</a>

    </div>

    <div id="belowCarousel" class="row columns">
        <div class="span4">
            <div class="column leftcolumn">
                <a href="technologies.html">
                    <img class="picto" id="picto-fusee" src="images/index/technologies.png" alt="fusee">
                    <h2>TECHNOLOGIE</h2>
                </a>
                <p>We hebben bewezen expertise op het Java-ecosysteem.</p>
                <p> Wij werken met een breed scala van moderne technologieën zoals: Scala, iOS, Android en NoSQL. Wij gebruiken deze technologieën bij onze projecten.</p>
                <p> Met de technieken van eXtreme Programming en onze jarenlange ervaring van ontwikkeling, zorgt dit voor stabiliteit en betrouwbaarheid.
                </p>
            </div>
        </div>
        <div class="span4">
            <div class="column midcolumn">
                <a href="equipe.html">
                    <img class="picto" id="picto-ballon" src="images/index/equipe.png" alt="ballon">
                    <h2>TEAM</h2>
                </a>
                <p>We vormen teams die zich focussen op realisatie van uw product.</p>
                <p>Voor uw product worden teams uit ervaren Xebia techneuten met complementaire vaardigheden samengesteld.</p>
                <p>In het team verwelkomen we ontwikkelaars en architecten van uw eigen teams voor co-sourcing projecten.</p>
            </div>
        </div>
        <div class="span4">
            <div class="column rightcolumn">
                <a href="valeurs.html">
                    <img class="picto" id="picto-champignon" src="images/index/culture.png" alt="champignon">
                    <h2>CULTUUR</h2>
                </a>
                <p>
                    Wij hebben een passie voor software-ontwikkeling en een cultuur van senioriteit gemixed met een creatieve-houding.
                </p>
                <p>
                    Wij zijn overtuigd agilisten en verfijnen Scrum en XP 'best practices' al vele jaren.
                </p>
                <p>Wij verbeteren onszelf continue met het ideaal van de echte vakman.</p>
            </div>
        </div>
    </div>
</div>

