---
layout: main
title: Join Us!
---
<div class="container" id="joinus">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span4">
                    <h1>WERK MET ONS !</h1>
                    <br>

                    <p class="joinus_p">
                        Wij zijn op zoek naar ontwikkelaars die communicatief sterk, maar bescheiden, trots op hun beroep, bedreven zijn in agile practices en graag een goede job willen doen.</p>
                    <br/>

                    <p class="joinus_p">Als u denkt dat u dit schaap met 5 poten bent, aarzel dan niet om ons te contacten via het verzenden van uw CV en voorbeelden van code die u geplaatst: <a
                                href="mailto:info@xebia.com">info@xebia.com</a>
                </div>
                <div class="span8 center">
                    <img src="images/rejoindre/mouton_5pattes.png" alt="moutons"/>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
<div class="grey_wrapper joinus">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <div class="column leftcolumn">
                            <img class="joinus_pict border" src="images/rejoindre/explications2.jpg" alt="explications"/>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="column midcolumn">
                            <h2 class="about_h2">LEERLINGWEZEN</h2>
                            <p class="joinus_p">
                                We hebben voor een zeer beperkt aantal jonge gemotiveerde ontwikkelaars (of jong afgestudeerden, maar met een zeer sterke passie voor software ontwikkeling) plaats om zich te vormen in software vakmanschap.
                            </p>
                            <p class="joinus_p">
                              Als deze uitdaging u interesseert neem dan contact met ons op via e-mail naar je motivatie uit te leggen: Gerard Janssen: <a href="mailto:gjanssen@xebia.com">Gerard</a>
                            </p>
                        </div>
                    </div>
                    <div class="span4" style="text-align: center;">
                        <div class="column rightcolumn">
                            <a href="mailto:info@xebia.com"><img style="margin-top:60px;" src="images/rejoindre/mailus.png" alt="mail us"/></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


