---
layout: main
title: Xebia Studio
---
<div class="container video_bootstrap">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3"><h1>XEBIA STUDIO</h1></div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span7">
                    <iframe class="iframe" src="http://player.vimeo.com/video/34310745?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"
                            width="540" height="303"></iframe>
                </div>
                <div class="span5">
                    <h2>Xebia STUDIO, SCHENDING MET TRADITIONELE SSII</h2>
                    <br/>

                    <div class="video_bootstrap_text">
                        <dl>
                            <dt>ervaring</dt>
                            <dd>Senior ontwikkelaars (&gt; 5 jaar ervaring)</dd>
                            <dd>complementaire teams</dd>
                            <dd>&nbsp;</dd>
                            <dt>doorzichtigheid</dt>
                            <dd>Communicatie met het team</dd>
                            <dd>Uw kantoor in de studio</dd>
                            <dd>Korte cycli: uw project groeit elke dag</dd>
                            <dd>Verspreiding van het project metrics</dd>
                            <dd>&nbsp;</dd>
                            <dt><b>Partner dan leverancier</b></dt>
                            <dd></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span7">
                    <iframe class="iframe" src="http://player.vimeo.com/video/34295931?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"
                            width="540" height="303"></iframe>
                </div>
                <div class="span5">

                    <h2>DE TECHNOLOGIE VOOR ZAKEN</h2>
                    <br/>

                    <div class="video_bootstrap_text">
                        <dl>
                            <dt>Beyond Java</dt>
                            <dd>Scala, JavaScript, Groovy, Ruby</dd>
                            <dd>&nbsp;</dd>
                            <dt>lichtgewicht Frameworks</dt>
                            <dd>Spelen, Grails, Rails, Gwt</dd>
                            <dd>&nbsp;</dd>
                            <dt>SQL &amp; NoSQL</dt>
                            <dd>MongoDB, Redis, Hadoop, PostgreSql</dd>
                            <dd>&nbsp;</dd>
                            <dt>Cloud Ready</dt>
                            <dd>CloudBees, GitHub, Amazon Web Services</dd>
                            <dd>Heroku, CloudFoundry, Google App Engine</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="row" style="margin-bottom: 30px;">
        <div class="span12">
            <div class="row">
                <div class="span7">
                    <iframe class="iframe" src="http://player.vimeo.com/video/34251606?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"
                            width="540" height="303"></iframe>
                </div>
                <div class="span5">
                    <h2>Kwaliteit zonder compromis</h2>
                    <br/>

                    <div class="video_bootstrap_text">
                        <dl>
                            <dt>Agile praktijken</dt>
                            <dd>Driven Development testen</dd>
                            <dd>Pair Programming</dd>
                            <dd>eenvoudig ontwerp</dd>
                            <dd>continue inzet</dd>
                            <dd>&nbsp;</dd>
                            <dt>Tests</dt>
                            <dd>unit tests</dd>
                            <dd>Integratie &amp; testen  &amp; functionalen</dd>
                            <dd>&nbsp;</dd>
                            <dt>functionele kwaliteit</dt>
                            <dd> Innovatie Games</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
