---
layout: main
title: Technologie
---
<div id="pragmatisme" class="grey_wrapper">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span6"><h2 class="technologies">ONZE AANPAK: de pragmatische</h2></div>
                </div>
                <p class="technologies">
                    Een succesvol project is in de eerste plaats handige functies creëren voor de gebruikers ervan. Technologie moet beschikbaar zijn voor het project en niet omgekeerd.
                </p>
                <p class="technologies">
                    Uw project is geen R &amp; D lab of een leerperiode voor onze ontwikkelaars. We maken gebruik van technologieën die we al bewezen hebben.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span5"><h1>WEB &amp; MULTI-PLATFORM</h1></div>
                <div class="span7"><h1 class="technologies">&nbsp;</h1></div>
            </div>
            <p class="technologies">
              In onze business evolueert technologie snel en uw teams hebben moeite om bij te blijven.</p>
             <p> Maar technologie kan een beslissende factor zijn in de strijd tegen de concurrentie. Wij zijn actief in verschillende technologische gemeenschappen ook in de verschillende programmeertalen: Java, Scala, robijn, javascript en backend services.</p>
            </p>
			<div class="row-fluid">
              <div class="span4 center">
                <img class="technologies" src="images/technologies/jquery-logo.png" alt="JQuery">
                <img class="technologies" src="images/technologies/HTML5-logo.png" alt="Html5">
              </div>
              <div class="span4 center">
                <img class="technologies" src="images/technologies/nodejs-logo.png" alt="Nodejs">
                <img class="technologies" src="images/technologies/play-logo.png" alt="Play">
              </div>
			        <div class="span4 center">
                <img class="technologies" src="images/technologies/phoneGap-logo.png" alt="PhoneGap">
              </div>
	        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span2"><h1>CLOUD</h1></div>
                <div class="offset2 span8"><h1 class="technologies">&nbsp;</h1></div>
            </div>
            <p class="technologies">
              De wolk biedt flexibiliteit en boost het opstarten van uw projecten. We kennen ook de grenzen. Rust in 2012, de cloud is een essentieel onderdeel van veel projecten.
            </p>
            <p class="technologies">
              We gebruiken de cloud om applicaties in te zetten, om tests uit te voeren, of voor onze samenwerking met CloudBees, software factory voor onze projecten.
            </p>
            <p class="technologies">
              De wolk is een onderdeel van Xebia Studio-projecten en we werken met de grote industrie leiders: Amazon Web Services, Heroku, CloudBees, OVH.
            </p>
            <div class="center">
                <img class="technologies" src="images/technologies/cloudbees-logo.png" alt="Cloudbees">
                <img class="technologies" src="images/technologies/heroku-logo.png" alt="Heroku">
                <img class="technologies" src="images/technologies/amazon-logo.png" alt="Amazon Web Services">
                <img class="technologies" src="images/technologies/gae-logo.png" alt="Google App Engine">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span4"><h1>NoSQL : NOT ONLY SQL</h1></div>
                <div class="span7"><h1 class="technologies">&nbsp;</h1></div>
            </div>
            <p class="technologies">
              NoSQL technologieën breken met de traditionele databases die we al decennia gebruiken. We hebben verschillende projecten van dit type base voorzien. (MongoDB, Redis, HBase / Hadoop).
            </p>
            <p class="technologies">
              NoSQL kan een geweldige "boost" voor het project betekenen. De ontwikkelsnelheid en implementatietijd (door het ontbreken van bindende patronen) is een belangrijke een troef voor onze projecten. 
              We weten ook wanneer NoSQL niet gebruikt moet worden of wanneer deze technologie gebruikt moet worden met de traditionele relationele databases.
            </p>
            <div class="center">
                <img class="technologies" src="images/technologies/cassandra-logo.png" alt="Cassandra">
                <img class="technologies" src="images/technologies/MongoDB-logo.png" alt="MongoDB">
                <img class="technologies" src="images/technologies/hadoop-logo.png" alt="Hadoop">
            </div>
        </div>
    </div>
</div>
