---
layout: main
title: Craftmanship
---
<div id="craftsmanship" class="grey_wrapper">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span6">
                        <h2 class="craftsmanship_title">VAKMANSCHAP</h2>
                        <p>
                            Wij geloven dat het mogelijk is software te ontwikkelen zonder dat projectkosten uit de hand lopen.
                        </p>
                        <p>
                            De principes van software vakmanschap passen wij al jaren toe in al onze projecten: SOLID, continue inzet, TDD, opleiding, YAGNI
                        </p>
                        <p> 
                            Een vakman is iemand die snel werkt, maar zonder haast, die realistische schattingen geeft en zich bind aan gemaakte afspraken. Een vakman weet nee te zeggen, maar doet er alles aan om ja te zeggen.
                        </p>
                        <blockquote>
                            <p><b><i>"een professionele vakman is:"</i></b></p>
                            <small>Uncle Bob</small>
                        </blockquote>
                        <p>
                            Deze overtuiging en passie in dienst van het bereiken van uw applicaties. We doen dit werk omdat we het geweldig vinden.
                        </p>
                    </div>
                    <div class="span6">
                        <img class="border" id="craftsmanship_picture" src="images/valeurs/craftsman2.jpg" alt="Craftman avec des bras multiples">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="picto-valeur" class="container">
    <div class="row columns">
      
        <div class="span4">
            <div class="column leftcolumn">
                <img id="picto-chrono" class="picto" src="images/valeurs/chrono.png" alt="Pragmatisme">
                <h2>PRAGMATISCH</h2>
                <p>
                    Het schrijven van code kwaliteit is de basis van ons bedrijf. De software die we schrijven:
                </p>
                <ul class="craftsmanship">
                    <li>Op tijd en binnen uw budget</li>
                    <li>duurzaam</li>
                    <li>begrijpelijk</li>
                    <li>klaar voor productie</li>
                </ul>
            </div>
        </div>
        
        <div class="span4">
            <div class="column midcolumn">
                <img id="picto-agilite" class="picto" src="images/valeurs/agilite.png" alt="Agilité">
                <h2>AGILE</h2>
                <p>
                    We hebben kennis en kunde in Extreme Programming, Scrum en Kanban.
                </p>
                <p> Bij de software realisatie helpen we ook uw organisatie te verbeteren.</p>
                <p>
                    Wij ontwikkelen alleen toegevoegde waarde voor u en uw klanten. 
                </p>
            </div>
        </div>
        
        <div class="span4">
            <div class="column rightcolumn">
                <img id="picto-excellence" class="picto" src="images/valeurs/excellence.png" alt="Excellence">
                <h2>UITMUNTEND</h2>
                <p>
                    Onze motivatie om uit te blinken kan worden samengevat in: " We vechten tegen de slechte code, slechte applicaties en middelmatige processen.
                </p>
                <p>
                    We maken fouten net als iedereen, maar we moeten de nederigheid onder ogen zien en er alles aan doen om ze te corrigeren.
                </p>
            </div>
        </div>
        
    </div>
</div>
