body {
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    background: transparent url(../images/backgrounds/background_body.jpg) repeat;
    font-family: AsapRegular, sans-serif;
}

.container {
    margin-top: -5px;
}

blockquote {
    margin-left: 10%;
}

blockquote small {
    color: #FFFFFF;
}

blockquote p {
    font-family: AsapRegular, sans-serif;
    font-size: 15px;
}

h1 {
    margin-top: 15px;
    color: #6d2960;
    font-family: MisoRegular, sans-serif;
    font-size: 300%;
}

h2 {
    margin-top: 15px;
    color: #323338;
    font-family: MisoLight, sans-serif;
    font-size: 35px;
}

h3 {
    margin-top: 15px;
    color: #ffffff;
    font-family: MisoLight, sans-serif;
    font-size: 25px;
}

h5 {
    color: #333333;
    padding-top: 15px;
    font-family: MisoRegular, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

p {
    font-family: AsapRegular, sans-serif;
    font-size: 15px;
    text-align: left;
}

img.border {
    border: 3px solid #ffffff;
    -moz-box-shadow: 0px 8px 15px #444;
    -webkit-box-shadow: 0px 8px 15px #444;
    box-shadow: 0px 8px 15px #444;
}

.grey_wrapper {
    background: transparent url(../images/backgrounds/background_grey.jpg) repeat;
    background-color: #b0adb4;
    width: 100%;
    margin-top: -18px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 7px solid #6d747a;
    color: #ffffff;
}

/***********************/
/*       UTILS         */
/***********************/

.center {
    text-align: center;
}

/***********************/
/*       NavBar        */
/***********************/

.navbar {
    border-bottom: 8px solid #48183e;
    background: transparent url(../images/backgrounds/background_header.jpg) repeat;
    font-family: MisoRegular, sans-serif;
}

span#navbar {
    text-align: right;
}

.navbar .nav {
    font-size: 190%;
    margin-top: 35px;
    margin-left: 40px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #cccccc;
    text-decoration: none;
    background: transparent url(../images/backgrounds/background_header.jpg) repeat;
}

.navbar .nav > li > a {
    color: #cccccc;
    padding-right: 14px;
}

.navbar-inner {
    height: 110px;
    background: transparent url(../images/backgrounds/background_header.jpg) repeat;
}

.navbar-inner .container-fluid {
    padding-top: 25px;
}

.navbar .nav > li {
}

#logo {
    background: transparent url(../images/logo.png) no-repeat;
    width: 200px;
    height: 100px;
    padding-left: 20px;
    margin-top: 25px;
    margin-right: 0px;
}

/***********************/
/*       Index         */
/***********************/
.slide-image {
  float:left;
}

.index-title h1 {
    margin-top: 30px;
    color: #6d2960;
    font-family: AsapRegular, sans-serif;
    font-size: 300%;
}

.index-title p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 150%;
    font-family: AsapRegular, sans-serif;
}

#indexCarousel {
    margin-top: 20px;
    margin-bottom: 80px;
}

#belowCarousel {
    margin-bottom: 30px;
}

.carousel-inner {
    color: #ffffff;
}

.carousel-inner h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    line-height: 25px;
}

.carousel p {
    margin-bottom: 20px;
    padding-right: 20px;
}

.carousel-inner div {
    display: block;
}

.slider {
    margin-top: 20px;
    background-color: #323338;
    color: #ffffff;
}

.slider p {
    text-align: left;
    font-size: 16px;
    margin-right: 10px;
}

.slider h2 {
    font-size: 25px;
    color: #ffffff;
    font-family: MisoRegular, sans-serif;
}

.carousel-inner {
    background-color: #343438;
}

div.leftcolumn {
    padding-left: 0px;
    padding-right: 5px;
}

div.midcolumn {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

div.rightcolumn {
    padding-left: 5px;
    padding-right: 0px;
}

.column p, .endcolumn p, .midcolumn p {
    line-height: 23px;
}

.columns_p ul li {
    font-size: 15px;
}

.columns h2 {
    font-size: 26px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #6d2960;
    border-bottom: 1px solid #999999;
    font-family: MisoRegular, sans-serif;
}

footer {
    border-top: 6px solid #757577;
    margin-top: 30px;
}

footer h2 {
    color: #ffffff;
    font-family: MisoRegular, sans-serif;
    font-size: 200%;
}

.footer-inner {
    padding-top: 50px;
    background-color: #323338;
    color: #999999;
    padding-bottom: 80px;
}

.footer-inner a:hover {
    text-decoration: underline;
}

.footer-inner a:link, a:visited, a:hover, a:active {
    color: #999999;
}

.footer-inner a:hover {
    text-decoration: underline;
}

.picto {
    padding-right: 10px;
    float:left;
}

#social-bar{
    margin-top: 15px;
}

img#picto-fusee {
    margin-top: -50px;
}

img#picto-ballon {
    margin-top: -30px;
}

img#picto-champignon {
    margin-top: -30px;
}

/***********************/
/*       Xebia Studio  */
/***********************/

.video_bootstrap h2 {
    padding-left: 0px;
    color: #323338;
    font-family: MisoLight, sans-serif;
    font-size: 180%;
    line-height: 25px;
    text-align: left;
}

.video_bootstrap_text {
    padding-left: 10px;
    font-size: 115%;
}

.iframe{
	frameborder:2px;
}

/***********************/
/*      Valeurs        */
/***********************/

div#craftsmanship {
    padding-bottom: 30px;
    padding-top: 30px;
}

ul.craftsmanship li {
    font-family: AsapRegular, sans-serif;
    font-size: 15px;
    line-height: 22px;
}

h2.craftsmanship_title {
    color: #323338;
    margin-bottom: 20px;
}

p.craftsmanship_p {
    font-size: 17px;
    line-height: 22px;
}

img#craftsmanship_picture {
    margin-top: 70px;
    margin-left: 40px;
    margin-bottom: -20px;
}

img#picto-agilite {
    margin-top: -30px;
}

img#picto-chrono {
    margin-top: -30px;
}

img#picto-excellence {
    margin-top: -30px;
}

#picto-valeur {
  margin-top:40px;
}

/***********************/
/*      Join Us        */
/***********************/

#joinus {
    padding-top: 25px;
    padding-bottom: 25px;
}

.joinus {
    border-top: 7px solid #6d747a;
    margin-bottom: -30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

img.joinus_pict{
    margin-top: 15px;
}

p.joinus_p {
    line-height: 22px;
    text-align: left;
}

/***********************/
/*      About         */
/***********************/

h1.about_h1{
    padding-top: 25px;
    padding-bottom: 25px;
}

h2.about_h2{
     padding-bottom: 25px;
}

div#about{
    padding-top: 25px;
    padding-bottom: 15px;
}

.about {
    border-top: 7px solid #6d747a;
    margin-bottom: -30px;
}

.about_row {
    margin-bottom: -20px;
}

p.about_p {
    line-height: 22px;
    text-align: left;
}

img#about_pict {
    margin-top: -15px;
}

ul.about_ul li {
    font-family: AsapRegular, sans-serif;
    font-size: 15px;
    line-height: 22px;
}

#about-title {
  margin-bottom:20px;
}

#about-contact {
  margin-top:30px;
}

/***********************/
/*      Team           */
/***********************/

.thumbnails {
    padding-left: 47px;
}

.thumbnails:before, .thumbnails:after {
    display: table;
    content: "";
}

.thumbnails:after {
    clear: both;
}

.thumbnails > li {
    float: left;
    margin-bottom: 10px;
}

.thumbnail {
    text-align: center;
    display: block;
    padding: 4px;
    line-height: 1;
    border: 0px solid #ddd;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
}

.thumbnail .caption {
    padding-top: 15px;
}

#a-craftman {
    vertical-align: bottom;
    display: block;
    height: 400px;
}

#a-craftman h2 {
    color: #323338;
    margin-bottom: 20px;
    margin-top: -10px;
}

#a-craftman h3 {
    padding-left: 20px;
    margin-top: -17px;
    margin-bottom: 20px;
}

img.team-big-picture {
    margin-top: 15px;
    margin-bottom: -20px;
}

img.picto {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
}

div#picto {
    position: absolute;
    margin-top: 360px;
    padding-left: 40px;
}

/***********************/
/*      Technos           */
/***********************/

.bio {
    margin-top: -19px;
    margin-bottom: 40px;
    padding-top: 40px;
}

h1.technologies {
    background: transparent url(../images/backgrounds/background-h1.png) repeat-x;
    background-position: bottom;
    margin-bottom: 25px;
}

h2.technologies{
   margin-bottom: 15px;
}

img.technologies {
    padding: 30px;
    padding-bottom: 60px;
}

p.technologies {
    line-height: 22px;
}

div#pragmatisme {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

img.team {
    margin-bottom: 10px;
}

/***********************/
/*      Technos           */
/***********************/

.carousel-control {
    position: absolute;
    top: 43%;
    left: 15px;
    width: 25px;
    height: 25px;
    margin-top: 155px;
    font-size: 30px;
    font-weight: 100;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 2px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.carousel-control.right {
    left: auto;
    right: 10px;
}

.carousel-control.left {
    left: 870px;
}

.carousel-control:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
