<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>

    <title>Xebia Studio - {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/fonts.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css"/>
    <link rel="shortcut icon" type="image/png" href="images/faviconXebia.png"/>
    <link rel="apple-touch-icon" type="image/png" href="images/icon-logo-57x57.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="images/icon-logo-72x72.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="images/icon-logo-114x114.png" />

  <!--[if IE]>
    <script type="text/javascript"
     src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
     .chromeFrameInstallDefaultStyle {

       width: 100%; /* default is 800px */
       border: 5px solid blue;
       z-index: 10;
     }
    </style>

    <script>
     window.attachEvent("onload", function() {
       CFInstall.check({
         mode:"overlay",
         node: "prompt"
       });
     });
    </script>
  <![endif]-->

    <script src="javascripts/jquery-1.7.1.min.js"></script>

</head>
<body>
<div id="prompt"></div>
<div class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span2">
                            <a id="logo" class="brand" href="index.html"></a>
                        </div>
                        <div class="span10" id="navbar">
                            <ul class="nav">
                                <li class="{% if page.title contains 'Xebia Studio' %}active{% endif %}"><a
                                        href="index.html">XEBIA STUDIO</a></li>
                                <li class="{% if page.title contains 'Craftmanship' %}active{% endif %}"><a
                                        href="valeurs.html">WAARDE</a></li>
                                <li class="{% if page.title contains 'Technologie' %}active{% endif %}"><a
                                        href="technologies.html">TECHNOLOGIE</a></li>
                                <li class="{% if page.title contains 'Join Us!' %}active{% endif %}"><a
                                        href="rejoindre.html">JOIN US</a></li>
                                <li class="{% if page.title contains 'Over Ons' %}active{% endif %}"><a
                                        href="apropos.html">OVER</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ content }}
<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <div class="column leftcolumn">
                        <h2>XEBIA</h2>
                             <address>
                              Utrechtseweg 49 &nbsp;<a href="http://goo.gl/maps/0hyAB"><img
                                src="images/marker.png" alt="Utrechtseweg 49, Hilversum"></a><br/>
                              1213 TL Hilversum &nbsp;
                            </address>

                            +31 (0)35 538 1921<br/>
                            <a href="mailto:info@xebia.com">info@xebia.com</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="column midcolumn">
                        <h2>XEBIA UNIVERSITEIT</h2>
                        <ul>
                            <li><a href="http://training.xebia.com/">Xebia Training</a></li>
                            <li><a href="http://xebialabs.com/">Xebia Labs</a></li>
                            <li><a href="http://blog.xebia.com">Xebia Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="column righcolumn">
                        <h2>FOLLOW US</h2>
                        <a href="http://blog.xebia.com"><b>Vind ons op de Xebia blog</b></a>

                        <div id="social-bar">
                            <a href="http://twitter.com/xebia"><img src="images/twitter.png" alt="twitter"></a>
                            <a href="http://youtube.com/xebiaNL"><img src="images/vimeo.png" alt="youtube"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
</body>
</html>
